include LICENSE
include README.md
include py.typed
include pyproject.toml
recursive-include dictionaries *.dic
recursive-include numerals *.py
prune tests
prune scripts
prune examples
global-exclude __pycache__ *.py[cod] *.pkl
